@import url(./reset.css);

#transform-world {
    width: 100vw;
    height: 363px;
    border: 5px solid rgba(51, 168, 219, 1);
    background-image: url(../images/woman-code.png);
    background-attachment: fixed;
    background-size: cover;
}